<title>Billing Documents</title>
<style>
  tr:nth-child(odd) {
    background-color: #ffffff;
  }

</style>
   
   <td>{{doc.Date|date:'m/d/Y'}}</td>

   <td>{{doc.Category}}</td>

   <td>{{doc.Title}}</td>
        
       
    <td><a href="{{ doc.PDF_file.url }}" target="_blank"><i class="fas fa-file-invoice"></i></a></td>
    

   
     
    {% if user.is_authenticated %} 
    <td>
    <form action="{% url 'editQuestion' doc.pk %}" method="get" style="display:inline;">
        {% csrf_token %}
       <button class="edit"  role="button"><i class="fa fa-edit"></i></button>
    </form></td>
    
    <td>
    <form action="{% url 'deletePDF' doc.pk %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button class="delete"  onclick="return confirm('Are you sure you want to delete this entry?')" role="button"><i class="fa fa-trash"></i></button>
  </form></td>
  {%endif%}
   

 