{% extends 'base.html'%}



{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Incident Report</title>
   
    <style>
        body {
            padding-top: 3.5rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Question {{question.id}}</a>
    </div>
</nav>

<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="my-4">Billing Question</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Incident Details -->
                    
                    <ul class="list-group list-group-flush">
                        <!-- Use Bootstrap grid for label and value alignment -->
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><strong>Question ID:</strong></div>
                                <div class="col-md-8">{{ question.id }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><strong>Questioner:</strong></div>
                                <div class="col-md-8">{{ question.Questioner}}</div>
                            </div>
                        </li>
                        
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><strong>Quesiton Date:</strong></div>
                                <div class="col-md-8">{{ question.Date|date:'m-d-Y' }}</div>
                            </div>
                        </li>
                        
        
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><strong>Question Type:</strong></div>
                                <div class="col-md-8">{{ question.Type }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><strong>Title:</strong></div>
                                <div class="col-md-8">{{ question.Title }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            
            
            <!-- Description of Incident -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Question</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ question.Content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Answer</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ question.Answer}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            

            <a href="{% url 'showQuestions' %}" class="btn btn-secondary">Back to Questions</a>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-4h6E8c86D2oXoAk8Dm9j6zG6R87YVJzT+79iYrK70gmT9s7/0u/7rK70gdT" crossorigin="anonymous"></script>
</body>
</html>

{%endblock%}